*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: green;
}
.face{
    box-shadow: ;
    position: relative;
    width: 400px;
    height: 400px;
    background: #ffcd00;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.angry-face{
    transition: .5s;
    position: relative;
    width: 400px;
    height: 400px;
    background: red;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouth{
    position: absolute;
    top: 250px;
    width: 180px;
    height: 80px;
    background-color:  yellow;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    transition: .5s;

}
.angry{
    transition: .5s;
    background-color:  transparent;
    top: 250px;
    width: 180px;
    height: 80px;
    border:20px solid yellow;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom: transparent;
}
.face:hover>.mouth{
    top: 280px;
    width: 180px;
    height: 30px;
    background-color:yellow;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eyes{
    position: relative;
    top: -50px;
    display: flex;
}
.eyes > .eye{
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius: 50%;
}
.eyes > .eye::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
}